
.whiskey__name, .userWhiskey__name {
    color: #6C6C6C;
  }


.whiskey__image {
      border-radius: 10px;
      width: 100%;
      height: 100%
  }

  .userWhiskey__image {
      width: 80%;
  }

  .whiskeyHeaderSearch, .whiskeyHeader {
      margin-left: 5%;
  }

  a {
      text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  .whiskeys {
      display: flex;
      flex-direction: row;
  }

  .list {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
  }

  .whiskey__margin {
      margin: 10%;
  }

  .card {
      background-color: rgba(0, 0, 0, 0) !important;
  }

  .input--wide {
      width: 25%;
      margin-left: 10%;
  }

  .userWhiskeyDetail {
      display: flex;
      justify-content: center;
  }

  .whiskeyDetailRight {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .button {
      margin: 2%;
  }
    
    .buttonParentDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    }

  * {
    -webkit-box-sizing: content-box !important;
       -moz-box-sizing: content-box !important;
            box-sizing: content-box !important;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box !important;
       -moz-box-sizing: content-box !important;
            box-sizing: content-box !important;
  }